<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message Board</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <div class="wrapper">
            <h1>The Dojo Message Board</h1>
        </div>
    </header>

    <section class="wrapper">

        <% JSON.stringify(messages) %>
        <% if(messages.new_message) { %>
            <% for (var x of messages.new_message) { %>
                <p class="text-danger"><%= x %></p>
            <% } %>
        <% } %>
        <% if(messages.new_comment) { %>
            <% for (var x of messages.new_comment) { %>
                <p class="text-danger"><%= x %></p>
            <% } %>
        <% } %>

        <form action="/new/message" class="flex-col messageForm" method="POST">
            <input type="text" name="name" placeholder="Name">
            <textarea name="message" placeholder="Message"></textarea>
            <input type="submit" class="form-btn" value="Post Message">
        </form>

        <% allMessages.forEach(function(message){ %>
        <div class="messages">
            <p><span class="bold">Name: </span><%= message.name %></p>
            <p><span class="bold">Message: </span><%= message.message %></p>

            <% for(let i = 0; i < message.comments.length; i++){ %>
                <div class="comments">
                    <p><span class="bold">Name: </span><%= message.comments[i].name %></p>
                    <p><span class="bold">Comment: </span><%= message.comments[i].comment %></p>
                </div>
            <% } %>

            <form action="/new/comment/<%= message._id %>" class="flex-col comments" method="POST">
                <input type="text" name="name" placeholder="Name">
                <textarea name="comment" placeholder="Comment"></textarea>
                <input type="submit" class="form-btn" value="Post comment">
            </form>
        </div>
        <% }) %>
    </section>

</body>
</html>